""" Colemak-Vim Mappings"""
" - k/K is the new n/N.
" - s/S is the new i/I ["inSert"].
" - j/J is the new e/E ["Jump" to EOW].
"
" - l/L skip to the beginning and end of lines
" - Ctrl-l joins lines
" - r replaces i as the "inneR" modifier

" HNEI arrows. Swap 'gn'/'ge' and 'n'/'e'.
noremap n gj
noremap e gk
noremap i l
noremap gn j
noremap ge k
" Last search.
nnoremap k n
nnoremap K N
" BOL/EOL/Join Lines.
noremap l ^
noremap L $
noremap <C-l> J
" _r_ = inneR text objects.
onoremap r i
" Switch tabs.
nnoremap <C-i> :action NextTab<CR>
nnoremap <C-h> :action PreviousTab<CR>

"""Misc Mappings"""

nnoremap <space> i
nnoremap ; :
nnoremap : ;
inoremap jj <Esc>
nnoremap <silent> jj :noh<CR>
vmap jj <Esc>
xmap jj <Esc>
noremap U <C-r>
vmap s S
nnoremap <CR> o<Esc>
nnoremap p p=`]
map s %
nnoremap <silent> S :w<CR>
"inoremap <C-y>, :action Emmet<CR>
"inoremap <C-y>n :action EmmetNextEditPoint<CR>
set ideajoin
nnoremap _ :action StringManipulation.ToSnakeCaseOrCamelCase<CR>
xmap _ :action StringManipulation.ToSnakeCaseOrCamelCase<CR>

# Multiple cursors
# Default keybindings don't work well on mac, see https://youtrack.jetbrains.com/issue/VIM-2178#focus=Comments-27-4558015.0-0
set multiple-cursors

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-k> <Plug>NextWholeOccurrence
xmap <C-k> <Plug>NextWholeOccurrence
nmap g<C-k> <Plug>NextOccurrence
xmap g<C-k> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
nmap <S-C-k> <Plug>AllWholeOccurrences
xmap <S-C-k> <Plug>AllWholeOccurrences
nmap g<S-C-k> <Plug>AllOccurrences
xmap g<S-C-k> <Plug>AllOccurrences

set easymotion
set surround
set argtextobj
set exchange
